* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de colores */
Rosa Clarito #EEE2DF Rosa Intermedio #EED7C5 Rosa Oscuro #C89F9C
/* Fuentes */

body {
    margin: 0;
}

/* ---------------  MENU  -------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #EEE2DF;
    /* width: 100%; */
    /* position: fixed; */
}

.logo {
    width: 270px;
}

.menu a {
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/* ---------------  CONTENIDO PRINCIPAL  -------------------- */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "banner banner banner"
        "prod-1 prod-2 prod-3"
        "prod-1 prod-2 prod-3";
}

.banner {
    grid-area: banner;

}

.banner img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.prod-1 {
    grid-area: prod-1;
}

.prod-1 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.prod-2 {
    grid-area: prod-2;
}

.prod-2 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.prod-3 {
    grid-area: prod-3;
}

.prod-3 img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}


/* ---------------  FOOTER  -------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EED7C5;
}

footer section {
    padding: 15px;
}

.info-page {
    width: 55vw;
}

.info-page p {
    margin: 4px;
    font-size: 15px;
}


.seccion-redes h3 {
    text-align: center;
    padding: 8px;
}

.seccion-redes a {
    margin: 5px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario input {
    margin: 20px;
    width: 190px;
}

.eleccion input {
    margin: 10px;
    width: 80px;
}

.contacto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #C89F9C;
}

/* ---------------  RESPONSIVE  -------------------- */
/* Dispositivo Mediano */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        /* position: fixed;
        align-items: flex-start;
        padding: 5px; */
    }
    .logo {
        margin: 10px;
    }
    .seccion-redes{
        display: flex;
        flex-direction: column;
        width: 30vw;
        align-items: center
    }

    .seccion-redes a{
        margin: 2px;
        font-size: 15px;
    }
}

/* Dispositivo Chico */
@media (max-width: 420px) {}
