* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de colores */
Rosa Clarito #EEE2DF Rosa Intermedio #EED7C5 Rosa Oscuro #C89F9C
/* Fuentes */

body {
    margin: 0;
    padding: 0;
}

/* ---------------  MENU  -------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #EEE2DF;
    /* width: 100%; */
    /* position: fixed; */
}

.logo {
    width: 270px;
}

.menu a {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.navbar {
    display: none;
}

/* ---------------  CONTENIDO PRINCIPAL  -------------------- */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "banner banner banner banner"
        "prod-1 prod-2 prod-3 prod-4"
        "prod-1 prod-2 prod-3 prod-4";
    margin: 0;
    padding: 0;
}
 nav{
    padding: 0 !important;
 }

.banner {
    grid-area: banner;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-1 {
    grid-area: prod-1;
    background-color: #C89F9C;
}

.prod-2 {
    grid-area: prod-2;
    background-color: #C89F9C;
}

.prod-3 {
    grid-area: prod-3;
    background-color: #C89F9C;
}

.prod-4 {
    grid-area: prod-4;
    background-color: #C89F9C;
}

.img-cover {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.nombre-prod {
    font-size: 30px;
    text-align: center;
}

.descripcion {
    font-size: 23px;
    text-align: center;
}

.container button {
    font-size: 15px;
    margin: 10px;
}



/* ---------------  FOOTER  -------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EED7C5;
}

footer section {
    padding: 15px;
}

.info-page {
    width: 55vw;
}

.info-page p {
    margin: 4px;
    font-size: 15px;
}

.seccion-redes h3 {
    text-align: center;
    padding: 8px;
}

.seccion-redes a {
    margin: 5px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* ------ pagina contacto ------ */

.contenido-contacto {
    display: flex;
    flex-direction: column;
    border: black dashed 1px;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario span {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}

.formulario input {
    margin: 20px;
    padding: 5px;
    width: 190px;
    font-size: 17px;
    text-align: center;
    background-color: white;
}

.eleccion input {
    margin: 15px;
    width: 20px;
}

.contacto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 20px;
    background-color: rgb(196, 159, 155);
    width: 100%;
    text-align: center;
}

input:focus {
    background-color: hsl(209, 52%, 75%);
    transition: .5s all;
    border-radius: 5px;
    transform: scale(1.1);
}


/* ---------------  RESPONSIVE  -------------------- */
/* Dispositivo Mediano */
@media (max-width: 768px) {
    header {
        display: none;
    }

    .navbar {
        display: block;
    }

    .container-fluid{
        background-color: #EEE2DF;
    }

    .logo {
        margin: 10px;
        width: 250px;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu a {
        font-size: 18px;
        margin: 5px;
    }

    .seccion-redes {
        display: flex;
        flex-direction: column;
        width: 30vw;
        align-items: center
    }

    .seccion-redes a {
        margin: 2px;
        font-size: 15px;
    }

    .container {
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "banner banner banner banner"
            "prod-1 prod-1 prod-2 prod-2"
            "prod-1 prod-1 prod-2 prod-2"
            "prod-3 prod-3 prod-4 prod-4"
            "prod-3 prod-3 prod-4 prod-4";
        /* height: 300vh; */
    }

    /* pagina contacto */
    .contenido-contacto {
        background-image: none;
        background-color: #c89f9c81;
    }

    input:focus {
        background-color: hsl(282, 40%, 84%);
        transition: .5s all;
    }
}

/* Dispositivo Chico */
@media (max-width: 420px) {
    header {
        display: none;
    }

    .navbar {
        display: block;
    }

    .logo {
        margin: 5px;
        width: 150px;
    }

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .menu a {
        font-size: 18px;
        margin: 10px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "banner"
            "prod-1"
            "prod-2"
            "prod-3"
            "prod-4";
    }

    .nombre-prod {
        font-size: 30px;
        text-align: center;
    }

    .descripcion {
        font-size: 25px;
        text-align: center;
    }

    /* pagina contacto */
    .formulario span {
        font-size: 20px;
        padding: 10px;
        font-weight: normal;
        ;
    }

    .formulario input {
        font-size: 20px;
        font-weight: normal;
    }

}